.container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.holderInput {
  :global {
    .form-control {
      max-height: 103px;
      min-height: 103px;
      max-width: 100%;
      min-width: 100%;
    }
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
}
